html, body {
    height: 100%;
}

html {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: LightCyan;
}

h1 {
    padding-bottom: 20px
}

body {
    display: table-cell;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
}

input {
    display: inline-block;
    float: left;
}

#frame {
    border: 1px;
    border-color: darkblue;
    border-style: solid;
    border-radius: 15px;
    padding: 15px;
}

#station-image {
    width: 250px;
}

#status {
    color: darkgreen;
    font-weight: bold;
}